<section id="about" class="page-section">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="service-item">
                    <div class="icon">
                        <img src="assets/img/lap.ico" alt="">
                    </div>
                    <h4>Seguro de Hardware</h4>
                    <div class="line-dec"></div>
                    <p>Refacciones y accesorios</p>
                    <div class="primary-blue-button">
                        <a href="#" class="" data-id="portfolio">DETALLES</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="service-item">
                    <div class="icon">
                        <img src="assets/img/nube.ico" alt="">
                    </div>
                    <h4>Soporte de red y servicios en la nube</h4>
                    <div class="line-dec"></div>
                    <p>Programacion y configuracion en db</p>
                    <div class="primary-blue-button">
                        <a href="#" class="" data-id="portfolio">DETALLES</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="service-item">
                    <div class="icon">
                        <img src="assets/img/database.ico" alt="">
                    </div>
                    <h4>Seguridad de Datos</h4>
                    <div class="line-dec"></div>
                    <p>Medidas de protección de  privacidad digital</p>
                    <div class="primary-blue-button">
                        <a href="#" class="scroll-link" data-id="portfolio">DETALLES</a>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</section>
