

<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-12">
                <div class="logo">
                    <a class="logo-ft scroll-top" href="#"><em>N</em>etting</a>
                    <p>Copyright &copy; Angela Victorino Rojas
                   <br>ITSZ 803-A ISC</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-12">
                <div class="location">
                    <h4>Ubicación</h4>
                    <ul>
                        <li>Calle Juárez n.16 col. Álvaro Obregón, <br>Rio Blanco Veracruz </li>
                        <li>C.P. 94735, <br>Veracruz, México</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-2 col-sm-12">
                <div class="contact-info">
                    <h4>Más Información</h4>
                    <ul>
                        <li><em>Tel</em>:  01 (272) 108 16 81, 01 (272) 74 201<br>
                            272 72 30 132</li>
                        <li><em>Email</em>: ger.are02@gmail.com<br>
                            Pcisistem@hotmail.com <br>
                            yoannes.ramirez@nettingmx.com 
                           </li>

                    </ul>
                </div>
            </div>
            <div class="col-md-2 col-sm-12">
                <div class="connect-us">
                    <h4>Redes sociales</h4>
                    <ul>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-google"></i></a></li>
                        <li><a href="#"><i class="fa fa-rss"></i></a></li>
                        <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
