<section id="testimonial">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div id="owl-testimonials" class="owl-carousel owl-theme">
                    <div class="item">
                        <div class="testimonials-item">
                            <p>  Netting  MARKETING</p>
                            <h4>Germán Arenas</h4>
                            <span>Social Media Manager</span>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimonials-item">
                            <p>Netting  MARKETING</p>
                            <h4>Angela Victorino Rojas</h4>
                            <span>Web designer</span><br>
                            <span>Community Manager</span>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimonials-item">
                            <p>Netting  MARKETING</p>
                            <h4>Yoannes Ramirez</h4>
                            <span>Software developer</span>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</section>

