<div class="tabs-content" id="blog">
    <div class="container">
        <div class="row">
            <div class="wrapper">
                <div class="col-md-4">
                    <div class="section-heading">
                        <h4>MARKETING</h4>
                        <div class="line-dec"></div>
                        <p>Aplicación de  estrategias de comercialización de  productos y servicios en  diferentes medios digitales</p>
                        <ul class="tabs clearfix" data-tabgroup="first-tab-group">
                            <li><a href="#tab1" class="active">Community Manager</a></li>
                            <li><a href="#tab2">Social Media Manager</a></li>
                            <li><a href="#tab3">Marketing Digital</a></li>
                            <li><a href="#tab4">Publicidad</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-8">
                    <section id="first-tab-group" class="tabgroup">
                        <div id="tab1">
                            <img src="img/blog_item_01.jpg" alt="">
                            <div class="text-content">
                                <h4>Community Manager</h4>
                                <span><a href="#">Digital Marketing</a> / <a href="#">Netting</a>  <a href="#"></a></span>
                                <p>Diseño de  plan de Marketing Online, para poner en marcha y mantener las redes sociales, escribir artículos en el blog y medir los resultados de su estrategia, entre otras cosas.</p>
                                 <img src="assets/img/manager.jpg" width="300" height="300" />
                            </div>
                        </div>
                        <div id="tab2">
                            <img src="img/blog_item_02.jpg" alt="">
                            <div class="text-content">
                                <h4>Social Media Manager</h4>
                                <span><a href="#">Digital Marketing</a> / <a href="#">Netting</a> <a href="#"></a></span>
                                <p>Preparamos un plan de acción por si tu marca tiene una crisis de reputación online.</p>
                                 <img src="assets/img/social.jpg" width="300" height="300" />
                            </div>
                        </div>
                        <div id="tab3">
                            <img src="img/blog_item_03.jpg" alt="">
                            <div class="text-content">
                                <h4>Marketing Digital</h4>
                                <span><a href="#">Digital Marketing</a> / <a href="#">Netting</a> <a href="#"></a></span>
                                <p>Aprovecha los beneficios para dar a conocer tu empresa y gana mucho más clientes</p>
                                 <img src="assets/img/digital.jpg" width="300" height="300" />
                            </div>
                        </div>
                        <div id="tab4">
                            <img src="img/blog_item_04.jpg" alt="">
                            <div class="text-content">
                                <h4>Publicidad</h4>
                                <span><a href="#">Digital Marketing</a> / <a href="#">Netting</a> <a href="#"></a></span>
                                <p>Permite que las personas conozcan y reconozcan tu negocio y genera mayores ganancias.</p>
                                <img src="assets/img/publicidad.jpg" width="300" height="300" />
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>

